body{
    background-image: url(../assets/aral-tasher-324864-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #141427;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    font-family: 'Indie Flower', cursive;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    float: right;
    height: 100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .about{
      background-color: rgb(28, 39, 49);
      color: lightslategrey;
      width: 30%;
      height: 100vh;
      overflow: scroll;
      position: relative;
      left: 25%;
  }

  .content{
      padding: 5%;
      margin-top: 20%;
      z-index: 1;
  }

  h1, h6{
    font-family: 'Dancing Script', cursive;
    color: lightgrey;
    text-align: right;
}
h6{
  margin-right: 2em;
  color: rgb(177, 191, 204);
}

p{
  font-family: 'Indie Flower', cursive;
}
.rotateimg10 {
  -webkit-transform:rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  position: fixed;
  left: 20%;
  top: 5%;
  z-index: -1;
}
.rotateimg15 {
  -webkit-transform:rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: fixed;
  left: 5%;
  top: 25%;
  z-index: -1;
}
.rotateimg45 {
  -webkit-transform:rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  position: fixed;
  left: 20%;
  top: 45%;
  z-index: -1;
}
#otters{
  display: none;
  position: fixed;
  bottom: 10%;
  left: 9%;
}