/*nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111722;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgrey;
    font-family: 'Indie Flower', cursive;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    float: right;
    height: 100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#copyright{
    position: fixed;
    bottom: 1%;
    font-size: 1em;
}
  /*credits*/
  #credits{
    background-color: #121f31b6;
    color: rgb(177, 198, 202);
    position: fixed;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 80%;
    border: 2px solid black;
    overflow: scroll;
    overflow-x: hidden;
  }
  h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    padding: 5px;
  }
  p{
      font-family: 'Indie Flower', cursive;
      text-align: center;
      padding-left: 15%;
      padding-right: 15%;
  }
  a:active, a:hover, a:visited, a:link{
    color: white;
    text-decoration: none;
}
marquee{
    padding-top: 5%;
}
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


/*contact*/
.contact{
    background-color: rgba(10, 10, 10, 0.5);
    position: fixed;
    bottom: 0;
    height: 40vh;
    width: 100vw;
    color: rgb(154, 172, 189);
    border-top: 2px solid black;
}
h2{
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    padding-top: 2%;
    padding-left: 5%;
}
.star{
  height: 7px;
  width: 7px;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  display: inline-block;
}
#stars{
  height: 50vh;
  width: 100vh;
}

/*TWINKLING STARS*/
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 5s infinite;
   -moz-animation: flickerAnimation 5s infinite;
   -o-animation: flickerAnimation 5s infinite;
   animation: flickerAnimation 5s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flickers {
   -webkit-animation: flickerAnimation 7s infinite;
   -moz-animation: flickerAnimation 7s infinite;
   -o-animation: flickerAnimation 7s infinite;
   animation: flickerAnimation 7s infinite;
}