body{
  background-image: url(../assets/arto-marttinen-pQS0ETF3KTI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111722;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgrey;
    font-family: 'Indie Flower', cursive;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    float: right;
    height: 100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#copyright{
    position: fixed;
    bottom: 1%;
    font-size: 1em;
}
#projs{
  width: 80%;
  height: 50em;
  position: absolute;
  top: 30%;
  left: 10%;
  display: none;
}
img{
  width: 40%;
}
#hex1{
  position: absolute;
  top: 0;
  left: 30%;
}
#hex2{
  position: relative;
  top: 27%;
  left: -1%;
}
#hex3{
  position: relative;
  top: 27%;
  left: 21%;
}
#hex4{
  position: absolute;
  left: 30%;
  top: 52%;
}
h1{
  color: white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 6em;
}